
body{
	/*background-image: url(white.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;*/
	font:1em Arial Rounded MT Bold, Helvetica, Arial, sans-serif;
		/*background-image:url('white.jpg');*/
	font: 1em HelveticaNeue-UltraLight, Helvetica, Arial, sans-serif;
	}





#titleHolder {  /*group the candy and candyimage,make them in the middle of the page */
	width: 1000px;
	height: 180px;/*changes the empty space inbetween the header and the mainmenu*/
	margin: 0px auto;
	background-color:#62BF7D;
}

#nstitle{
	width:1000px;/*stops the title from breaking when page size changes*/
	font-size: 60px;
	color:#fff;
	margin: 0px auto;
	padding: 50px 20px 0px 50px;
	height:100px;
	position:absolute;/*allows elements to move freely in container*/
	font-family: HelveticaNeue-Light;


	}
#slogan{
	width:1000px;
	font-size: 20px;
	color:rgba(255,255,255,.7);
	margin: 0px 0px 0px 0px;
	padding: 115px 20px 0px 50px;

	position:absolute;/*allows elements to move freely within container*/
	font-family: HelveticaNeue-Light;


	}

#socialmediaholder {
	height: 40px;
	width: 950px;/*shifts position of all social media icons(used to be 700*/
	/*
	background-color: black;*/
	margin: 0px auto;
	padding: 50px 20px 0px 50px;
	position:absolute;
}

#socialmedia{
	float: right;
	height: 40px;
	width: 300px;
	margin: 0px auto;
	border-style:none;
}
	
	.socialicons {
	float:left;
	height:50px;
	width:50px;
	margin-right:15px;
	
	}

A:link {
	text-decoration: none;
	color:#FFF ;
}
A:visited { 
	text-decoration: none;
	color: #FFF;
}
A:active {
	text-decoration: none;
	color: #FFF;
}

/*li.socialicons :hover {
	
	
	background: #00B39B;
	
	
	padding-bottom:2px;
	border-radius:20px;
	
	
}*/
div#socialmedia li{
display: inline;
	list-style-type: none;
	margin-top: 0px;
	margin-bottom:1px;
	margin-left:0px;
	padding-bottom:0;
	border-style:none;
	
}

img {
    vertical-align: middle;
    height: 100%;
}











/*.navtext{
	
	height: 40px;
	width: 700px;
	padding-bottom:5px;
	margin: 0px auto;
	color: #6E6A6B;
	font-size:13px;
	border-top:solid;
	border-bottom:solid;
	border-width:1px;
	
	}*/
.navtext{
	
	height: 40px;
	width: 900px;
	margin: 0px auto;
		padding: 10px 50px 0px 50px;

	color: #6E6A6B;
	font-size:35px;
	position:relative;
	
	
	}
.subtext{
	
	height: 40px;/*changes the space between the text and the main menu below*/
	width: 900px;
	margin: 0px auto;
	padding: 10px 50px 0px 50px;

	color: #62BF7D;
	font-size:20px;
	position:relative;
	
	
	}

#backarrowholder {
	height: 40px;
	width: 950px;/*shifts position of all social media icons(used to be 700*/
	/*
	background-color: black;*/
	margin: 0px auto;
	padding: 40px 20px 0px 50px;
	position:relative;
}

#backarrowmedia{
	float: left;
	height: 40px;
	width: 300px;
	margin: 0px auto;
	border-style:none;
}
#backarrow{
/*float:left;
	height:50px;
	width:50px;
	margin-right:225px;
		padding: 30px 0px 0px 245px;

	position:relative;*/
	
	float:left;
	height:50px;
	width:50px;
	margin-right:15px;
	}
#homeback{
	
	padding: 10px 10px 0px 0px;
}

#nickheader{
width:1000px;
height:300px;
margin 0px auto;
padding-top:20px;
position:relative;
}

#aboutarea {
	width: 1000px;
	height: 350px;

	margin: 0px auto;
}


#about {
	width: 950px;
	height: 170px;
	margin: 0px auto;

	position: relative;
}

#about1 {
	width: 550px;
	height: 120px;
	
	margin: 25px 20px 25px 20px;
	}





#abouttext	{
	float: left;
	width: 900px;
	height: 100px;
		color: #000;
		font-size:14px;
		font-family: HelveticaNeue-Light;

	position: relative;
	padding:0px;
	margin: 10px 10px 0px 0px;
}

#subtitle {
	font-size: 30px;
}
.stuff {
	font-size: 12px;
	font-family: HelveticaNeue;
	
	}

#footer {/*needs to scale with page still and needs to be able to adjust according to how many boxes added in portfolio*/
	width:1000px;
	height: 70px;
	margin: 2750px 0px 0px 200px;/*NOTE:allows the footer to be positioned properly on home page, but wont move when window scaled*/
	background-color:#6E6A6B;	
	position: relative;
	vertical-align: middle;
	background-color:#62BF7D;
}
#footertext {
	display: table-cell;
	width: 1000px;
	height: 70px;
	position: relative;
	vertical-align:middle;
	text-align: center;
background-color:#62BF7D;
	color:#fff;
	font-size:12px;
	
	}

