
body{
	/*background-image: url(images/ivory-off-white-paper-texture.jpg) no-repeat center center fixed;*/
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
	font:1em Arial Rounded MT Bold, Helvetica, Arial, sans-serif;
		/*background-image:url('white-paper-texture.jpg');*/
	font: 1em HelveticaNeue-UltraLight, Helvetica, Arial, sans-serif;
	}





#titleHolder {  /*group the candy and candyimage,make them in the middle of the page */
	width: 1000px;
	height: 180px;/*changes the empty space inbetween the header and the mainmenu*/
	margin: 0px auto;
	background-color:#62BF7D;
}

#nstitle{
	width:1000px;/*stops the title from breaking when page size changes*/
	font-size: 60px;
	color:#fff;
	margin: 0px auto;
	padding: 50px 20px 0px 50px;
	height:100px;
	position:absolute;/*allows elements to move freely in container*/
	font-family: HelveticaNeue-Light;


	}
#slogan{
	width:1000px;
	font-size: 20px;
	color:rgba(255,255,255,.7);
	margin: 0px 0px 0px 0px;
	padding: 115px 20px 0px 50px;

	position:absolute;/*allows elements to move freely within container*/
	font-family: HelveticaNeue-Light;


	}

#socialmediaholder {
	height: 40px;
	width: 950px;/*shifts position of all social media icons(used to be 700*/
	/*
	background-color: black;*/
	margin: 0px auto;
	padding: 50px 20px 0px 50px;
	position:absolute;
}

#socialmedia{
	float: right;
	height: 40px;
	width: 300px;
	margin: 0px auto;*/
	border-style:none;
	


	
	}
	
	.socialicons {
	float:left;
	height:50px;
	width:50px;
	margin-right:15px;
	
	}

A:link {
	text-decoration: none;
	color:#FFF ;
}
A:visited { 
	text-decoration: none;
	color: #FFF;
}
A:active {
	text-decoration: none;
	color: #FFF;
}

li.socialicons :hover {
	
	
	background: #00B39B;
	
	
	padding-bottom:2px;
	border-radius:20px;
	
	
}
div#socialmedia li{
display: inline;
	list-style-type: none;
	margin-top: 0px;
	margin-bottom:1px;
	margin-left:0px;
	padding-bottom:0;
	border-style:none;
	
}

img {
    vertical-align: middle;
    height: 100%;
}


#navmenu{
	float:right;
	height: 50px;
	width:285px;
	margin: 0px 210px 0px 0px;
	padding: 0px 20px 10px 0px;/*moves the line for menu*/
	color:#000;
	border-bottom-style:solid;
	border-width:1px;
	
	border-color:rgba(151,149,149,.7)/*#979595*/;
	color:#000;
	/*text-indent:0em;
	padding-top:0.5px;
	padding-left:1em;
	padding-right:1em;
	padding-bottom:0.5px;
	-webkit-padding-top:0.5px;
	-webkit-padding-left:1em;
	-webkit-padding-right:1em;
	-webkit-padding-bottom:0.5px;*/
	position:relative;
}

#navhold {
	width: 350px;
	height: 20px;
	/*
	background-color: black;*/
	margin: 0px 32.5px 15px 32.5px;/*first margin moves the list items up and down*/
	padding: 8px 0px 0px 0px;/*positions words to be in line with borderline*/
	position: absolute;
	color:#000;
}

#navhold ul{
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	color:#000;
	
}

#navmenu{
	margin-top:2em;/*space between header and linebreak*/
	color:#000;
	}
A:link {
	text-decoration: none;
	color:#000 ;
	opacity: .9;
}
A:visited { 
	text-decoration: none;
	color: #000;
}
A:active {
	text-decoration: none;
	color: #000;
}

#navmenu li:hover {
	border-bottom-style:solid;
	border-color: #00B39B;
		/*font-family:HelveticaNeue-Bold;*/

	
	
}
#navmenu li{
	display: inline-block;
	list-style-type: none;
	margin-top: 2em;
	margin-right:25px;
	border-style:none;
		color:#000;
		position:relative;

	/*-moz-transition: background-color, color .5s;
	-webkit-transition:background-color, color .5s;
	-o-transition: background-color, color, .5s;
	transition: background-color, color, .5s;	*/
	
}

.current{
	
	border-bottom-color: #000;
	border-bottom-style:solid;
	font-family:HelveticaNeue-Bold;
	border-width:2px;
	
	}

#mainmenu{
	
	height: 50px;
	width:980px;
	margin: 0px auto;
	border-bottom-style:solid;
		padding: 0px 20px 60px 0px;/*moves the line for menu*/

	/*text-indent:0em;
	padding-top:0.5px;
	padding-left:1em;
	padding-right:1em;
	padding-bottom:0.5px;
	-webkit-padding-top:0.5px;
	-webkit-padding-left:1em;
	-webkit-padding-right:1em;
	-webkit-padding-bottom:0.5px;*/
}

#menuhold {
	width: 1000px;
	height: 20px;
	/*
	background-color: black;*/
	margin: 35px 32.5px 15px 32.5px;
	position: absolute;
}

#menuhold ul{
	list-style-type: none;
	margin: 0px 0px 0px 0px;
}

#mainmenu{
	margin-top:4em;
	}
A:link {
	text-decoration: none;
	color:#FFF ;
	opacity: .9;
}
A:visited { 
	text-decoration: none;
	color: #FFF;
}
A:active {
	text-decoration: none;
	color: #FFF;
}

#mainmenu li:hover {
border-bottom-style:solid;
	border-color: #00B39B;
}
#mainmenu li{
	/*display: inline;
	list-style-type: none;
	margin-top: 2em;
	margin-right:25px;
	
	padding-left:60px;
	padding-right:0.5em;
	border-style:none;
	-moz-transition: background-color, color .5s;
	-webkit-transition:background-color, color .5s;
	-o-transition: background-color, color, .5s;
	transition: background-color, color, .5s;	*/
	display: inline-block;
	list-style-type: none;
	margin-top: 2em;
	margin-right:25px;
	border-style:none;
		color:#000;
		position:relative;
	
}


	#mpop{
	
	background: #000;
	border-radius:5px;
	}




/*above it is menu and header*/




/*.navtext{
	
	height: 40px;
	width: 700px;
	padding-bottom:5px;
	margin: 0px auto;
	color: #6E6A6B;
	font-size:13px;
	border-top:solid;
	border-bottom:solid;
	border-width:1px;
	
	}*/
.navtext{
	
	height: 40px;
	width: 650px;
	margin: 0px auto;
	color: #6E6A6B;
	font-size:50px;
	
	
	}
.subtext{
	
	height: 40px;
	width: 650px;
	margin: 0px auto;
	color: #00B39B;
	font-size:20px;
	
	
	}


nav.primary {
	width:auto;
	margin:30px auto;
	display:table;
}

nav.primary ul li  {
	float:left;
	list-style:none;
}

nav.primary ul li a {
	height:39px;
	display:block;
	font-size:15px;
	color:#000;
	padding:0 10px;
	text-decoration:none;
	line-height:39px;
}
nav.primary ul li a:hover {/*added by nick*/
	/*height:39px;
	display:block;
	font-size:15px;
	color:#000;
	padding:0 10px;
	text-decoration:none;
	line-height:39px;*/
	border-bottom: 3px solid #62BF7D;/*main nav bar color*/
	color:#62BF7D;/*changes hover text color from black to green*/
}

nav.primary li a.selected {
    border-bottom: 3px solid #62BF7D;/*main nav bar color*/
    font-family: 'HelveticaNeue';
}

.main {
	padding:0;
	margin:0;
	display:block;
}

.entry {
	position:relative;
	float:left;
	margin:10px;
	cursor:pointer;
	width:225px;
	height:225px;
	padding:0;
}

.portfolio { margin:0; }

.magnifier {
	background:rgba(237,49,49,.7) url(images/magnifier.png) no-repeat center;
	position:absolute;
	top:10px;
	left:10px;
	bottom:10px;
	right:10px;
	opacity:0;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
.video-hover {
	background:rgba(0,0,0,.7) url(test.png) no-repeat center;/*added the image text when hover over*/
	position:absolute;
	top:0px;/*all of these values change the hover border*/
	left:0px;
	bottom:0px;
	right:0px;
	opacity:0;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

.entry:hover .video-hover,
.entry:hover .magnifier { opacity:1; }

img {
	max-width:100%;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
-webkit-transition-duration: 0.8s;
   -moz-transition-duration: 0.8s;
        transition-duration: 0.8s;
}

.isotope {
-webkit-transition-property: height, width;
   -moz-transition-property: height, width;
        transition-property: height, width;
}

.isotope .isotope-item {
-webkit-transition-property: -webkit-transform, opacity;
   -moz-transition-property:    -moz-transform, opacity;
        transition-property:         transform, opacity;
}


#footertext {
	display: table-cell;
	width: 1000px;
	height: 70px;
	position: relative;
	vertical-align:middle;
	text-align: center;
background-color:#62BF7D;
	color:#fff;
	font-size:12px;
	
	}

