
body{
	/*background-image: url(white.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;*/
	/*font:1em Arial Rounded MT Bold, Helvetica, Arial, sans-serif;*/
		/*background-image:url('white.jpg');*/
	font: 1em 'HelveticaNeue-UltraLight', 'Helvetica', 'Arial', sans-serif;
	}





#titleHolder {  /*group the candy and candyimage,make them in the middle of the page */
	width: 1000px;
	height: 180px;/*changes the empty space inbetween the header and the mainmenu*/
	margin: 0px auto;
	background-color:#62BF7D;
}

#nstitle{
	width:1000px;/*stops the title from breaking when page size changes*/
	font-size: 60px;
	color:#fff;
	margin: 0px auto;
	padding: 50px 20px 0px 50px;
	height:100px;
	position:absolute;/*allows elements to move freely in container*/
	font-family: 'HelveticaNeue-Light';


	}
#slogan{
	width:1000px;
	font-size: 20px;
	color:rgba(255,255,255,.7);
	margin: 0px 0px 0px 0px;
	padding: 115px 20px 0px 50px;

	position:absolute;/*allows elements to move freely within container*/
	font-family: 'HelveticaNeue-Light';


	}

#socialmediaholder {
	height: 40px;
	width: 950px;/*shifts position of all social media icons(used to be 700*/
	/*
	background-color: black;*/
	margin: 0px auto;
	padding: 50px 20px 0px 50px;
	position:absolute;
}

#socialmedia{
	float: right;
	height: 40px;
	width: 300px;
	margin: 0px auto;
	border-style:none;
}
	
	.socialicons {
	float:left;
	height:50px;
	width:50px;
	margin-right:15px;
	
	}

A:link {
	text-decoration: none;
	color:#FFF ;
}
A:visited { 
	text-decoration: none;
	color: #FFF;
}
A:active {
	text-decoration: none;
	color: #FFF;
}

/*li.socialicons :hover {
	
	
	background: #00B39B;
	
	
	padding-bottom:2px;
	border-radius:20px;
	
	
}*/
div#socialmedia li{
display: inline;
	list-style-type: none;
	margin-top: 0px;
	margin-bottom:1px;
	margin-left:0px;
	padding-bottom:0;
	border-style:none;
	
}

img {
    vertical-align: middle;
    height: 100%;
}











/*.navtext{
	
	height: 40px;
	width: 700px;
	padding-bottom:5px;
	margin: 0px auto;
	color: #6E6A6B;
	font-size:13px;
	border-top:solid;
	border-bottom:solid;
	border-width:1px;
	
	}*/
.navtext{
	
	height: 40px;
	width: 900px;
	margin: 0px auto;
		padding: 10px 50px 0px 50px;

	color: #6E6A6B;
	font-size:35px;
	position:relative;
	
	
	}
.subtext{
	
	height: 40px;/*changes the space between the text and the main menu below*/
	width: 900px;
	margin: 0px auto;
	padding: 10px 50px 0px 50px;

	color: #62BF7D;
	font-size:20px;
	position:relative;
	
	
	}


nav.primary {
	width:auto;
	margin:30px auto;/*changes the space between the nav bar and boxes below*/
	display:table;
}

nav.primary ul li  {
	float:left;
	list-style:none;
}

nav.primary ul li a {
	height:39px;
	display:block;
	font-size:20px;/*changes the font size of main menu*/
	color:#6E6A6B;
	padding:0 20px;/*changed the space between the words and allows for mobile padding to be good used to be 10px*/
	text-decoration:none;
	line-height:39px;
}
nav.primary ul li a:hover {/*added by nick*/
	/*height:39px;
	display:block;
	font-size:15px;
	color:#000;
	padding:0 10px;
	text-decoration:none;
	line-height:39px;*/
	border-bottom: 3px solid #62BF7D;/*main nav bar color*/
	color:#62BF7D;/*changes hover text color from black to green*/
}

nav.primary li a.selected {
    border-bottom: 3px solid #62BF7D;/*main nav bar color*/
    font-family: 'HelveticaNeue';
}



.main {
	padding:0;
	margin:0;
	display:block;
}

.entry {
	position:relative;
	float:left;
	margin:5px;/*changes spacing in between the display boxes used to be 10px*/
	cursor:pointer;
	width:240px;/*originally 225px, if 248px with 0 margin, will fit the border perfectly*/
	height:240px;
	padding:0;
}

.portfolio { margin:0; }

.magnifier {
	background:rgba(237,49,49,.7) url(images/magnifier.png) no-repeat center;
	position:absolute;
	top:10px;
	left:10px;
	bottom:10px;
	right:10px;
	opacity:0;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
.video-hover {
	background:rgba(0,0,0,.7) url(theraventext.png) no-repeat center;/*added the image text when hover over*/
	position:absolute;
	top:0px;/*all of these values change the hover border*/
	left:0px;
	bottom:0px;
	right:0px;
	opacity:0;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

.video-hover2 {/*hover 2 added by nick*/
	background:rgba(0,0,0,.7) url(deliverytext.png) no-repeat center;/*added the image text when hover over*/
	position:absolute;
	top:0px;/*all of these values change the hover border*/
	left:0px;
	bottom:0px;
	right:0px;
	opacity:0;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
.about-hover {/*hover 2 added by nick*/
	background:rgba(0,0,0,.7) url(abouttext.png) no-repeat center;/*added the image text when hover over*/
	position:absolute;
	top:0px;/*all of these values change the hover border*/
	left:0px;
	bottom:0px;
	right:0px;
	opacity:0;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
.frosh-hover {/*hover 2 added by nick*/
	background:rgba(0,0,0,.7) url(froshtext.png) no-repeat center;/*added the image text when hover over*/
	position:absolute;
	top:0px;/*all of these values change the hover border*/
	left:0px;
	bottom:0px;
	right:0px;
	opacity:0;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
.contact-hover {/*hover 2 added by nick*/
	background:rgba(0,0,0,.7) url(contacttext.png) no-repeat center;/*added the image text when hover over*/
	position:absolute;
	top:0px;/*all of these values change the hover border*/
	left:0px;
	bottom:0px;
	right:0px;
	opacity:0;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
.writing-hover {/*hover 2 added by nick*/
	background:rgba(0,0,0,.7) url(writingtext.png) no-repeat center;/*added the image text when hover over*/
	position:absolute;
	top:0px;/*all of these values change the hover border*/
	left:0px;
	bottom:0px;
	right:0px;
	opacity:0;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
.web-hover {/*hover 2 added by nick*/
	background:rgba(0,0,0,.7) url(candyboxtext.png) no-repeat center;/*added the image text when hover over*/
	position:absolute;
	top:0px;/*all of these values change the hover border*/
	left:0px;
	bottom:0px;
	right:0px;
	opacity:0;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
.reddit-hover {/*hover 2 added by nick*/
	background:rgba(0,0,0,.7) url(reddittext.png) no-repeat center;/*added the image text when hover over*/
	position:absolute;
	top:0px;/*all of these values change the hover border*/
	left:0px;
	bottom:0px;
	right:0px;
	opacity:0;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
.entry:hover .about-hover,
.entry:hover .reddit-hover,
.entry:hover .contact-hover,
.entry:hover .frosh-hover,
.entry:hover .web-hover,
.entry:hover .writing-hover,
.entry:hover .video-hover,
.entry:hover .video-hover2,/*hover 2 added by nick*/
.entry:hover .magnifier { opacity:1; }

img {
	max-width:100%;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  /*pointer-events: none;*//*NOTE: commented out because gave error in css*/
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
-webkit-transition-duration: 0.8s;
   -moz-transition-duration: 0.8s;
        transition-duration: 0.8s;
}

.isotope {
-webkit-transition-property: height, width;
   -moz-transition-property: height, width;
        transition-property: height, width;
}

.isotope .isotope-item {
-webkit-transition-property: -webkit-transform, opacity;
   -moz-transition-property:    -moz-transform, opacity;
        transition-property:         transform, opacity;
}

#footer {/*needs to scale with page still and needs to be able to adjust according to how many boxes added in portfolio*/
	width:1000px;
	height: 70px;
	margin: 100px 0px 0px 0px;/*NOTE:allows the footer to be positioned properly on home page, but wont move when window scaled*/
	background-color:#6E6A6B;	
	position: relative;
	vertical-align: middle;
	background-color:#62BF7D;
}
#footertext {
	display: table-cell;
	width: 1000px;
	height: 70px;
	position: relative;
	vertical-align:middle;
	text-align: center;
background-color:#62BF7D;
	color:#fff;
	font-size:12px;
	
	}
	

